<div class="wrapper">
    <div class="curve-up">
        <img src="../../assets/images/pattern-black.png">
    </div>
    <div class="container">
        <div class="logo">
            <img src="../../assets/logos/footer-logo.png">
        </div>
        <h2>La boom Restaurant</h2>
        <p>
            329 Queensberry Street, North Melbourne VIC 3051, Australia.
            <br />
            123 456 7890
            <br />
            support@laboom.com
        </p>
        <div class="data-block row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 copyright">
                Copyright © 2017 Polygon Theme. All rights reserved.
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 social-media">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-google"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="curve-down">
            <img src="../../assets/images/pattern-gold.png">
        </div>
    </div>
</div>