/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

html,body{
    width: 100%;
    height: 100%;
    font-size: 12px;
}

h2{
    font-size: 40px;
    font-weight: 700;
}
h6{
    color: #9a9a9a;
    font-size: 15px;
    font-weight: 400;
}