<div class="main-body">
    <section class="section1">
        <div class="image">
            <h1>WE'RE <span>LABOOM</span> RESTAURANT</h1>
            <h3>Traditional Turkish Delicacies</h3>
            <button>EXPLORE NOW</button>
        </div>
    </section>
    <section class="section2">
        <div class="curve-up">
            <img src="../../assets/images/pattern-white.png">
            <img src="../../assets/icons/scroll-arrow.png">
        </div>
        <div class="container">
            <h2 class="title">Welcome To The La Boom</h2>
            <div class="sub-title">Lorem ipsumd dolor amer, consfeds dsfdsf elit</div>
            <div class="data-holder">
                <div class="block1 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <p>
                        Welcome. This is La Boom. Elegant & sophisticated restaurant template. Royal plate offers different home page layouts with smart and unique design, showcasing beautifully designed elements every restaurant website should have. Smooth animations, fast loading and engaging user experience are just some of , the features this template offers. So, give it a try and dive into a world of La Boom restaurant websites.
                    </p>
                    <img src="../../assets/images/signature.png">
                    <button>LEARN MORE</button>
                </div>
                <div class="block2 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <img src="../../assets/images/img2.png">
                </div>
            </div>
        </div>
        <div class="floating-icons">
            <img src="../../assets/images/icon1.png">
            <img src="../../assets/images/icon2.png">
            <img src="../../assets/images/icon3.png">
            <img src="../../assets/images/icon4.png">
        </div>
    </section>
    <section class="section3">
        <div class="curve-up">
            <img src="../../assets/images/pattern-black.png">
            <img src="../../assets/images/icon5.png">
        </div>
        <div class="container wrapper">
            <h2 class="title">Welcome To The La Boom</h2>
            <p class="sub-title">Lorem ipsum ha lol bersasddas</p>
            <div class="owl-carousel owl-theme owl-height">
                <div class="food-item" *ngFor="let item of [1,1,1]; let i= index">
                    <img src="../../assets/images/product{{i + 1}}.png" alt="">
                    <div class="food-title">Quattro Formaggi</div>
                    <div class="food-desc">Lorem ipsum na lofds fdsdsf idhfsi</div>
                    <div class="price">
                        <del>$ {{ i * 8}}.00</del>
                        <span>$ {{i * 6}}.00</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section4">
        <div class="curve-up">
            <img src="../../assets/images/pattern-skeen.png">
            <img src="../../assets/images/icon6.png">
        </div>
        <div class="wrapper container">
            <h2 class="title">Our Special Menu</h2>
            <h6 class="sub-title">The role of a good cook ware in the preparation of a sumptuous meal cannot be over emphasized then one consider white bread</h6>
            <div class="menu">
                <div class="menu-nav">
                    <ul #unorderedList>
                        <li><button class="active" (click)="refreshItems(0)">ALL</button></li>
                        <li><button (click)="refreshItems(1)">BREAKFAST</button></li>
                        <li><button (click)="refreshItems(2)">DESSERT</button></li>
                        <li><button (click)="refreshItems(3)">DINNER</button></li>
                        <li><button (click)="refreshItems(4)">FRESHFOOD</button></li>
                        <li><button (click)="refreshItems(5)">LUNCH</button></li>
                    </ul>
                </div>
                <div class="menu-items row" #menuItemsList>
                    <div class="item col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" *ngFor="let item of menuItems; let i = index">
                        <img src="../../assets/images/img{{ i + 3 }}.png">
                        <div class="info">
                            <div class="header">
                                <span>{{ item }}</span>
                                <span>$ {{ i + 5 }}.00</span>
                            </div>
                            <div class="body">
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="explore">EXPLORE FULL MENU</button>
        </div>
    </section>
    <section class="section5">
        <div class="curve-up">
            <img src="../../assets/images/pattern-white.png">
            <img src="../../assets/images/icon11.png">
        </div>
        <div class="wrapper container">
            <h2 class="title">Our Awesome Chef</h2>
            <h6 class="sub-title">Meet Professional Cook Team</h6>
            <div class="owl-carousel owl-theme owl-height">
                <div class="chef-card" *ngFor="let item of [1,1,1,1];let i = index">
                    <div class="header">
                        <img src="../../assets/images/chef{{i + 1}}.png">
                    </div>
                    <div class="footer">
                        <span>Brender Dimitor</span>
                        <span>Head Chef</span>
                        <ul class="social-media">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-google"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section6" #foodTiming [ngStyle]="{'backgroundPosition': backgroundPosition+'px'+' 0px'}">
        <div class="curve-up">
            <img src="../../assets/images/pattern-gold.png">
            <img src="../../assets/images/icon19.png">
        </div>
        <div class="wrapper container">
            <div class="row">
                <div class="food-item col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <img src="../../assets/images/icon15.png">
                    <span>Breakfast</span>
                    <span>8.00 am 10.00am</span>
                </div>
                <div class="food-item col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <img src="../../assets/images/icon16.png">
                    <span>Lunch</span>
                    <span>8.00 am 10.00am</span>
                </div>
                <div class="food-item col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <img src="../../assets/images/icon16.png">
                    <span>Dinner</span>
                    <span>8.00 am 10.00am</span>
                </div>
                <div class="food-item col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <img src="../../assets/images/icon18.png">
                    <span>Dessert</span>
                    <span>8.00 am 10.00am</span>
                </div>
            </div>
        </div>

    </section>
    <section class="section7">
        <div class="curve-up">
            <img src="../../assets/images/pattern-skeen.png">
            <img src="../../assets/images/icon20.png">
        </div>     
        <div class="wrapper container">
            <h2 class="title">Feature Blog</h2>
            <h6 class="sub-title">Read Latest Delicious News And Posts</h6>
            <div class="owl-carousel owl-theme owl-height">
                <div class="blog-card" *ngFor="let i of [1,1,1,1,1,1]">
                    <div class="header">
                        <img src="../../assets/images/feature1.jpg">
                        <span class="tag">
                            27
                            <br />
                            may
                        </span>
                    </div>
                    <div class="footer">
                        <div class="post-info">
                            <div class="block1">
                                <img src="../../assets/images/user.png">
                                <span>By Ali TUFAN</span>
                            </div>
                            <div class="block2">
                                <img src="../../assets/images/comment.png">
                                <span>5 Comments</span>
                            </div>
                        </div>
                        <div class="post-title">
                            Easy Sparkling Sangria
                        </div>
                        <div class="post-body">
                            Aptent taciti sociosqu ad litora euismod atras vulputate iltricies etri elit class.
                        </div>
                        <div class="read-more">
                            <span>Read More</span>
                            <img src="../../assets/images/more-arrow.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section8">
        <div class="curve-up">
            <img src="../../assets/images/pattern-black-sketch.png">
            <img src="../../assets/images/icon21.png">
        </div> 
        <div class="wrapper container">
            <h2 class="title">What Clients Say</h2>
            <h6 class="sub-title">1500+ Satisfied Clients</h6>
            <div class="owl-carousel owl-theme owl-height">
                <div class="testimonial-card" *ngFor="let i of [1,1,1,1,1,1]">
                    <img src="../../assets/images/client1.png">
                    <span class="name">Alice Williams</span>
                    <span class="desig">Kitchen Manager</span>
                    <span class="desc">
                        Success isn’t really that difficult. There is a significant portion of the
                        <br />
                        population here in North America, that actually want and need
                        <br />
                        success really no magic to be hard.
                    </span>
                </div>
            </div>
        </div> 
    </section>
    <section class="section9">
        <div class="curve-up">
            <img src="../../assets/images/pattern-skeen.png">
            <img src="../../assets/images/icon22.png">
        </div>
        <div class="container wrraper">
            <div class="row">
                <div class="feature-item col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <img src="../../assets/images/img9.png">
                    <span>Fresh Dishes</span>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius-</span>
                </div>
                <div class="feature-item col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <img src="../../assets/images/img10.png">
                    <span>Fresh Dishes</span>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius-</span>
                </div>
                <div class="feature-item col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <img src="../../assets/images/img11.png">
                    <span>Fresh Dishes</span>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius-</span>
                </div>
                <div class="feature-item col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <img src="../../assets/images/img12.png">
                    <span>Fresh Dishes</span>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius-</span>
                </div>
            </div>
        </div>  
    </section>
    <section class="section10">
        <div class="curve-up">
            <img src="../../assets/images/pattern-white.png">
            <img src="../../assets/images/icon23.png">
        </div>
        <div class="wrapper container">
            <h2 class="title">#laboom</h2>
            <h6 class="sub-title">Enjoyed your stay at La Boom? Share your moments with us. Follow us on Instagram and use</h6>
            <div class="owl-carousel owl-theme owl-height">
                <div class="insta-card" *ngFor="let i of [1,1,1,1,1,1,1,1,1]">
                    <img src="../../assets/images/gallery1.png">
                    <div class="insta-window">
                        <img src="../../assets/images/gradient-bg.png">
                        <i class="fa fa-instagram fa-4x"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>